canvas {
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: -1;
}

body {
	font-family: Noto Sans, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #232323;
  }

  .calendar {
	display: grid;
	grid-template-columns: repeat(7, 10vw);
	grid-template-rows: repeat(3, 10vw);
	gap: 10px;
  }

  .day {
	display: flex;
	padding: 10px;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.3px);
-webkit-backdrop-filter: blur(5.3px);
border: 1px solid rgba(255, 255, 255, 0.29);
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	color: #fefefe;
  }

  .noDay {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-weight: bold;
  }
